* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;


}

.time {
  width: 800px;
  height: 200px;
  text-align: center;
  background: #196695;
  padding: 4px 7px 4px 12px;
  color: white;
  font-size: 18vh;
  font-family: sans-serif;
  position: relative;
  font-variant-caps: all-petite-caps;
  border-radius: 4px;
  box-shadow: 1px -1px 0 0px #79797b, -1px 1px 0 0px #101010, -1px -1px 0 0px #101010, 1px 1px 0 0px #101010, inset 0 0 0 1px #000, inset 0 0 0 5px #121315;
}

h1{
  text-align: center;
}